@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'lithographregular';
  src: url('./ui/assets/lithograph-webfont.woff') format('woff2'),
    url('./ui/assets/lithograph-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lithographbold';
  src: url('./ui/assets/lithograph_bold-webfont.woff2') format('woff2'),
    url('./ui/assets/lithograph_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zx_spectrumregular';
  src: url('./ui/assets/zx-spectrum-webfont.woff2') format('woff2'),
    url('./ui/assets/zx-spectrum-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
